{% form_theme form with ['bootstrap_3_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaDizkusModule:Form:radio.html.twig'
] %}
{{ showflashes() }}
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-titl">{{ __("Notify moderator about bad behaviour") }}</h3>
    </div>
</div>
{{ include("@ZikulaDizkusModule/Post/preview.html.twig", {'preview': managedPost, 'hide_badge' : ''}) }}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            {{ form_label(form.message, __('Message') ,{ 'label_attr': {'class': 'col-md-3'} }) }}
            <div class="col-md-9">
                {{ form_widget(form.message, { 'attr': {'class': '', 'rows': 5} }) }}
            </div>
        </div>
    </div>
    {% if app.request.xmlHttpRequest %}
    {% else %}
        <div class="panel-footer text-right">
            <a class="btn btn-default btn-sm" href="{{ path('zikuladizkusmodule_topic_viewtopic', {'topic':managedPost.getManagedTopic().id}) }}" role="button">{{ __('Cancel') }}</a>
            {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'}, 'label': __('Send notification')}) }}
        </div>
    {% endif %}
</div>
{{ form_end(form) }}