{{ adminHeader() }}
<h3>
    <span class="fa fa-trophy"></span>&nbsp;{{ __('Assign honorary rank') }}
</h3>
<div id="dizkus_admin">

    {% set createtext = __('Create an honorary rank') %}
    {% set createlink %}<strong><a href='{{ path('zikuladizkusmodule_admin_ranks', {'ranktype':'1'}) }}'>{{ createtext }}</a></strong>{% endset %}
    <p class="alert alert-info">{{ __f('In this page, you can select particular users and assign them honorary ranks. %s. Only users that have posted in the forum may be assigned a rank.', {'%s':createlink}) }}</p>

    <div class="rankuser-alphanav text-center">
        {{ pagerabc({posvar:'letter', printempty:true, route:'zikuladizkusmodule_admin_assignranks'}) }}
    </div>
    <form class="form-horizontal" action="{{ path('zikuladizkusmodule_admin_assignranks') }}" method="post" role='form'>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ __('User name') }}</th>
                <th>{{ __('Rank') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in allusers %}
            <tr>
                <td>{{ user.user.uname }}</td>                
                <td>
                    <select name="setrank[{{ user.user.uid }}]" class="form-control input-sm">
                        <option value="0" {% if user.rank is null %}selected="selected"{% endif %}>{{ __("No rank") }}</option>

                        {% for rank in ranks %}
                            <option value="{{ rank.rank_id }}" {% if (user.rank is not null) and (user.rank.rank_id == rank.rank_id) %}selected="selected"{% endif %}>{{ rank.title }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% else %}
            <tr class="danger"><td colspan="2">{{ __('No users found') }}</td></tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pager({rowcount:usercount, limit:perpage, route:'zikuladizkusmodule_admin_assignranks', posvar:'page'}) }}

    <div class="col-lg-offset-3 col-lg-9">
        <input type="hidden" name="letter" value="{{ letter }}" />
        <input type="hidden" name="page" value="{{ page }}" />
        <button type="submit" name="submit" id="submit" class="btn btn-success" alt="{{ __('Submit') }}" title="{{ __('Submit') }}">{{ __('Submit') }}</button>
    </div>
    </form>
</div>    

{{ adminFooter() }}
