{{ adminHeader() }}
{% form_theme form with ['bootstrap_3_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaDizkusModule:Form:radio.html.twig'
] %}
<h3>
    <span class="fa fa-wrench"></span>&nbsp;{{ __('Import')}}
</h3>
<div id="dizkus_admin">
    {{ showflashes() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#dbtables" aria-controls="dbtables" role="tab" data-toggle="tab">{{ __('Database tables') }}</a></li>
            {# <li role="presentation"><a href="#csv" aria-controls="cvs" role="tab" data-toggle="tab">{{ __('Csv') }}</a></li>#}
    </ul>
    <div class="tab-content">
        <!-- General -->
        <div role="tabpanel" class="tab-pane active" id="dbtables">
            <div class="col-md-12">
                <p class="col-md-12 help-block alert ">
                    {{ __("Here you can import data from previous dizkus installations.")}}
                </p>
            </div>
            <fieldset>
                <legend>{{ __("Find tables")}}</legend>
                <div class="form-group">
                    {{ form_label(form.prefix, __('Prefix') ,{ 'label_attr': {'class': 'col-md-2'} }) }}
                    <div class="col-md-6">
                        {{ form_widget(form.prefix, {'attr': {'class': '' }}) }}
                        <p class="col-md-12 help-block alert alert-info pull-right">
                            {{ __("Enter tables prefix")}}
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            {{ form_widget(form.checkPrefix, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>

            </fieldset>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ __('Found tables')}}</strong>
                        </div>
                        <div class="list-group-item list-group-item-info">
                            <div class="row">
                                <div class="col-md-5">
                                    {{ __('Table name')}}
                                </div>
                                <div class="col-md-2">
                                    {{ __('Objects')}}
                                </div>
                                <div class="col-md-2">
                                    {{ __('Status')}}
                                </div>
                                <div class="col-md-2 pull-right">
                                    {{ __('Actions')}}
                                </div>
                            </div>
                        </div>  
                        <ul class="list-group">
                            {% for tablename, table in importTables %}
                                <li class="list-group-item clearfix">
                                    <div class="col-md-5">
                                        {{ tablename }}
                                    </div>
                                    <div class="col-md-2">
                                        <span class="badge">{{ table.elements|length }}</span>
                                    </div>
                                    <div class="col-md-2">
                                        {% if table.status %}
                                            <i class="fa fa-check-circle fa-green" aria-hidden="true"></i> {{ table.status }}
                                        {% else %}
                                            <i class="fa fa-times-circle fa-red" aria-hidden="true"></i>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 pull-right">
                                        {% if table.status %}
                                            <a class="btn btn-xs btn-default" href="" > <i class="fa fa-cloud-download" aria-hidden="true"></i> {{ __('Import')}}</a>
                                        {% else %}
                                        {% endif %}
                                    </div>
                                </li>
                            {% else %}

                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Cvs import -->
    {#    <div role="tabpanel" class="tab-panel" id="cvs">
            <div class="col-md-12">
                <p class="col-md-12 help-block alert ">
                    {{ __("Cvs import is not supported yet.")}}
                                            </p>
                                        </div>
                                        </div>#}
</div>
<div class="form-group">

</div>
{{ form_end(form) }}  
</div>
{{ adminFooter() }}