{{ pageAddAsset('javascript', zasset('@ZikulaDizkusModule:js/chosen_v1.0.0/chosen.jquery.min.js')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaDizkusModule:js/chosen_v1.0.0/chosen.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaDizkusModule:css/chosen-bootstrap.css')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaDizkusModule:js/Zikula.Dizkus.Admin.ModifyForum.js')) }}

{{ adminHeader() }}
{% form_theme form with ['bootstrap_3_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaDizkusModule:Form:radio.html.twig'
] %}

<h3>
    <span class="fa fa-pencil-square-o"></span>&nbsp;
    {% if forum.forum_id %}
        {{ __("Edit forum") }}&nbsp;{{ forum.name }}
    {% else %}
        {{ __("New forum") }}
    {% endif %}
</h3>
<div id="dizkus_admin">
    {{ showflashes() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>

        <legend>{{ __("Forum settings")}}</legend>
        
        <div class="form-group">
            {{ form_label(form.name, __('Name') ,{ 'label_attr': {'class': 'col-md-3'} }) }} 
            <div class="col-lg-9">
                {{ form_widget(form.name, { 'attr': {'class': '', 'size': 70, 'maxlength':150 } }) }}                
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, __('Description') ,{ 'label_attr': {'class': 'col-md-3'} }) }}
            <div class="col-lg-9">
                {{ form_widget(form.description, { 'attr': {'class': '', 'size': 70, 'maxlength':150 } }) }}
            </div>
        </div>            

        <div class="form-group">       
            {{ form_label(form.status, __('Lock Forum') ,{ 'label_attr': {'class': 'col-md-3'} }) }}                  
            <div class="col-md-9">           
                {{ form_widget(form.status, {'attr': {'class': 'btn btn-primary radio-inline' }}) }}
                {{ form_errors(form.status) }}
                <p class="col-md-12 help-block alert alert-info pull-right">
                    {{ __("Locking a forum prevents new <strong>topics</strong> from being created in the forum.")}}
                </p>  
            </div>
        </div>             

        <div class="form-group">
            {{ form_label(form.parent, __('Parent') ,{ 'label_attr': {'class': 'col-md-3'} }) }} 
            <div class="col-lg-9">
                {{ form_widget(form.parent, { 'attr': {'class': ''} }) }}
            </div>
        </div>                

        {% if forum.forum_id %}
            <div class="form-group">
                <label for="forum_info" class="col-md-3 col-sm-3 control-label">{{ __('Forum Information') }}</label>           
                <div class="col-lg-9">
                    <span id="forum_info">
                        <a title="{{ __('Visit this forum') }}" href="{{ path('zikuladizkusmodule_forum_viewforum', {'forum': forum.forum_id}) }}">
                            {{ topiccount }}&nbsp;{% if topiccount == 1 %}{{ __('Topic') }}{% else %}{{ __('Topics') }}{% endif %}&nbsp;/&nbsp;
                            {{ postcount }}&nbsp;{% if postcount == 1 %}{{ __('Post') }}{% else %}{{ __('Posts') }}{% endif %}
                        </a>
                    </span>
                </div>
            </div>
        {% endif %}            

        <div class="form-group">
            {{ form_label(form.moderatorUsers, __('Moderation (Users)'), { 'label_attr': {'class': 'col-md-3'} }) }}
            <div class="col-lg-9">
                {{ form_widget(form.moderatorUsers, { 'attr': {'class': 'chzn-select', 'data-placeholder': __('Select Some Options') } }) }}                
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.moderatorGroups, __('Moderation (Groups)'), { 'label_attr': {'class': 'col-md-3'} }) }}
            <div class="col-lg-9">
                {{ form_widget(form.moderatorGroups, { 'attr': {'class': 'chzn-select', 'data-placeholder': __('Select Some Options') } }) }} 
            </div>
        </div>        

    </fieldset>    

    <fieldset>
         <legend>{{ __("External sources")}}</legend>   
    
                <p class="col-md-12 help-block alert alert-warning ">
                    {{ __("External sources are not supported in this version of Dzikus.")}}
                </p>          
    
    </fieldset>     
            
    {{ notifyDisplayHooks(eventName='dizkus.ui_hooks.forum.ui_edit', id=forum.forum_id) }}
    
    <div class="form-group">
        <div class="col-lg-offset-6 col-md-8">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            {{ form_widget(form.restore, {'attr': {'class': 'btn btn-danger'}}) }}
        </div>
    </div>   
    
    {{ form_end(form) }}
</div>    

{{ adminFooter() }}