{{ adminHeader() }}
<div id="dizkus_admin">
    {% if importHelper.isUpgrade() %}
        <div id="upgrade_notice" class="alert alert-warning">
            <div class="row">
                <div class="col-md-12">
                    <i class="close" data-dismiss="alert">×</i>
                    <strong><i class="fa fa-info-circle"></i> {{ __('Module is in upgrade state.')  }}&nbsp;{{ __('Version')  }}&nbsp;{{ importHelper.isUpgrading()|replace('_', ' ') }} </strong>
                    <a class="btn btn-success" href="{{ path('zikuladizkusmodule_import_import') }}" title="{{ __('Finish data import.')}}">
                        <span class="fa fa-cloud-download"></span>&nbsp;{{ __('Finish data import.')}}
                    </a>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><span class="fa fa-list"></span>{{ __('Forum tree')}}</h3>
        </div>
        <div class="list-group-item list-group-item-warning" style="">
            <a class="btn btn-primary" href="{{ path('zikuladizkusmodule_admin_modifyforum') }}" title="{{ __('Create a new forum')}}">
                <span class="fa fa-comments"></span>&nbsp;{{ __('Create a new forum')}}
            </a>
            <a class="btn btn-default pull-right" href="{{ path('zikuladizkusmodule_admin_syncforums') }}" title="{{ __('Recalculate post and topics totals')}}">
                <span class="fa fa-cogs"></span>&nbsp;{{ __('Recalculate post and topics totals')}}
            </a>
        </div>
        <div class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col-md-11">    
                    {{ __('Name')}}    
                </div>
                <div class="col-md-1">
                    {{ __('Actions')}}   
                </div>
            </div>
        </div>            
        <ul class="list-group"> 
            {{ include("@ZikulaDizkusModule/Admin/subtree.html.twig") }}
        </ul>    
    </div>
</div>
{{ adminFooter() }}