{% if lastposts > 0 %}
    <ul class="fa-ul" style="margin-left:0;padding-left:40px;">                
    {% for lastpost in lastposts %}
        <li><i class="fa-li fa fa-comment text-muted"></i><a title="{{ __('in') }} {{ lastpost.name }}" class="tooltips" href="{{ lastpost.last_post_url_anchor }}">{{ lastpost.title }}</a><br />
                                                                                    {# |profilelinkbyuname #}
        <small>{{ lastpost.word }} &commat;{{ lastpost.posted_time }} {{ 'by' }} {{ lastpost.poster_name }}</small></li>
    {% endfor %}
    </ul>       
{% else %}
    <p class="text-center">{{ __("No posts") }}</p>
{% endif %}
 
{% if showfooter == true %}
    <p class="text-center">
        <a style="font-size: 0.8em;" href="{{ path('zikuladizkusmodule_forum_index') }}" title="{{ __("Go to forum") }}">{{ __("Go to forum") }}</a>
    </p>
{% endif %}
