<ol class="breadcrumb clearfix">
    <li>
        {% if app.request.attributes.get('_route') != 'zikuladizkusmodule_forum_index' %}
            <a class="tooltips fa fa-home" title="{{ __('Go to Forum Home') }}" href="{{ path('zikuladizkusmodule_forum_index') }}">&nbsp;{{ __('Top') }}</a>
        {% else %}
            <span class="fa fa-home">&nbsp;{{ __("Top") }} - {{ __("You are on forums home page") }}</span>
        {% endif %}
    </li>

    {% if currentForum is defined %}
        {% for breadcrumb in currentForum.getBreadcrumbs() %}
            <li>
                <a href="{{ breadcrumb.url }}" class="tooltips" title="{{ __('Forum') }} {{ breadcrumb.title|escape('html')|notifyFilters('dizkus.filter_hooks.post.filter') }}">
                    {{ breadcrumb.title|escape('html')|notifyFilters('dizkus.filter_hooks.post.filter') }}
                </a>
            </li>
        {% endfor %}
    {% endif %}

    {% if currentTopic is defined %}
        {% for breadcrumb in currentTopic.getManagedForum.getBreadcrumbs(false) %}
            <li>
                <a href="{{ breadcrumb.url }}" class="tooltips" title="{{ __('Forum') }} {{ breadcrumb.title|escape('html')|notifyFilters('dizkus.filter_hooks.post.filter') }}">
                    {{ breadcrumb.title|escape('html')|notifyFilters('dizkus.filter_hooks.post.filter') }}
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ path('zikuladizkusmodule_topic_viewtopic' , {'topic': currentTopic.id}) }}" class="tooltips" title="{{ __('Current topic') }} {{ currentTopic.title|escape('html') }}">
                {{ currentTopic.title|escape('html') }}
            </a>
        </li>
    {% endif %}

    {% if managedForumUser is defined %}
        <li><a href="">{{ __('User') }}</a></li>
        {% endif %}

    {% if latestTopics is defined %}
        <li><a href="">{{ __('Latest topics') }}</a></li>
        {% endif %}

    {% if latestPosts is defined %}
        <li><a href="">{{ __('Latest posts') }}</a></li>
        {% endif %}

    {% if templatetitle is defined %}
        {# template title should be escaped at this point #}
        <li><span>{{ templatetitle }}</span></li>
            {% endif %}
</ol>