{% form_theme form with ['bootstrap_3_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaDizkusModule:Form:radio.html.twig'
] %}
{{ pageSetVar('title', __("Manage your signature")) }}
{{ include("@ZikulaDizkusModule/Common/header.html.twig") }}
<div id="dzk_userprefs">
    {{ moduleLinks('prefs') }}
    <h2>{{ __("Posting display settings") }}</h2>
    {{ showflashes() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset>
        <div class="form-group">
            {{ form_label(form.signature, __('Signature') ,{ 'label_attr': {'class': 'col-md-3'} }) }} 
            <div class="col-md-9">
                {{ form_widget(form.signature, { 'attr': {'class': '', 'rows': 5} }) }}
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="col-md-12 text-center">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{{ include("@ZikulaDizkusModule/Common/footer.html.twig") }}
