{{ pageSetVar('title', __("My posts")) }}
{{ include("@ZikulaDizkusModule/Common/header.html.twig") }}
<div id="mine-posts">
    {{ showflashes() }}
    <h1 class="">{{ __("My posts") }}</h1>
    {% for post in posts %}
        {{ include("@ZikulaDizkusModule/Post/preview.html.twig", {'preview': getPostManager(post), 'hide_badge': '', 'show_topic': 1}) }}
    {% else %}
        <div class="alert alert-info" role="alert">
            {{ __('No posts found.')}}
        </div>
    {% endfor %}

    <div class="panel panel-default">
        {{ pager({rowcount:pager.numitems,
                                limit:settings.posts_per_page,
                                class:'pull-right',
                                posvar:'start',
                                route:'zikuladizkusmodule_user_mineposts',
                                template:'@ZikulaDizkusModule/Forum/forum.topics.pager.html.twig'}) }}
        {{ include("@ZikulaDizkusModule/Forum/panelfooter.html.twig") }}
    </div>
</div>
{{ include("@ZikulaDizkusModule/Common/footer.html.twig") }}
