{{ pageSetVar('title', __("My Topics")) }}
{{ include("@ZikulaDizkusModule/Common/header.html.twig") }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="fa fa-home">&nbsp;{{ __("My Topics") }}</h2>
    </div>

    {{ include("@ZikulaDizkusModule/Topic/collection.html.twig") }}

</div>
{{ include("@ZikulaDizkusModule/Common/footer.html.twig") }}
