{{ pageSetVar('title', __("Personal info")) }}
{{ include("@ZikulaDizkusModule/Common/header.html.twig") }}
<div id="dzk_userprofile">
    {{ moduleLinks('prefs') }}
    <h2>{{ __("Personal info") }}</h2>
    {{ showflashes() }}


</div>

{{ include("@ZikulaDizkusModule/Common/footer.html.twig") }}