{# Onlines disabled @todo #}

{#        {% set online=onlineUsers() %}
        {% set anonsessions=getSystemSetting('anonymoussessions') %}
        {% set mins=getSystemSetting('secinactivemins') %}#}

{#<h3>{{ __("Users on-line") }}</h3>#}
{#        <div class="z-clearfix">
            {% if online.numusers > 0 %}
                <span>
                    {% for  user in online.unames %}
                        {% if user.admin == '1'%}{{ user.uname }}{% else %}{{ user.uname }}{% endif %}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </span>
            {% else %}
                <span>{{ __("0 users") }}</span>
            {% endif %}
            {% if online.numguests > 0 and anonsessions == 1 %}
                <span>{{ _fn('and %1$s anonymous guest','and %1$s anonymous guests', online.numguests, {'%1$s':online.numguests}) }}</span>
            {% endif %}
        </div>
        {% set mins = 10 %}
        <p class="z-sub">{{ __f('This list is based on users active over the last %s minutes.', {'%s': mins}) }}</p>#}