{{ include("@ZikulaDizkusModule/Common/header.html.twig") }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="">
            <i class="fa fa-home"></i>
            &nbsp;{{ __("Top") }}
        </h2>
        {% if totalposts is defined %}
            <div style='position:absolute; top:0; right:0; padding: 1.25em;'>
                <a class="btn btn-default btn-sm tooltips disabled" title="{{ __('RSS Feed') }}" href="{{ path('zikuladizkusmodule_feed_feed') }}"> {#<i class="fa fa-rss-square fa-150x fa-orange"></i>#}
                    {{ __f('Total posts: %s',{'%s':totalposts }) }}</a>
            </div>
        {% endif %}
    </div>
    {{ include("@ZikulaDizkusModule/Forum/single.forum.table.html.twig", {'forum':managedRootForum.get}) }}
    {{ include("@ZikulaDizkusModule/Forum/panelfooter.html.twig") }}
</div>
{{ include("@ZikulaDizkusModule/Common/footer.html.twig") }}