<div class="panel-footer clearfix">
    <div class="pull-left">
        {% set online=onlineUsers() %}
        {% set anonsessions=getSystemSetting('anonymoussessions') %}
        {% set mins=getSystemSetting('secinactivemins') %}

        <h3>{{ __("Users on-line") }}</h3>
        <ul id="ctheme_onlinelist" class="z-clearfix list-inline">
            {% if online.numusers > 0 %}
                {% for  user in online.unames %}
                    {#      |profilelinkbyuname              #}
                    <li>{% if user.admin == '1'%}{{ user.uname }}{% else %}{{ user.uname }}{% endif %}{% if not loop.last %}, {% endif %}</li>
                    {% endfor %}
                {% else %}
                <li>{{ __("0 users") }}</li>
                {% endif %}
                {% if online.numguests > 0 and anonsessions == 1 %}
                <li>{{ _fn('and %1$s anonymous guest','and %1$s anonymous guests', online.numguests, {'%1$s':online.numguests}) }}</li>
                {% endif %}
        </ul>
        {% set mins = 10 %}
        <p class="z-sub">{{ __f('This list is based on users active over the last %s minutes.', {'%s': mins}) }}</p>
    </div>
    <div id='forum-legend' class="pull-right">
        <span class="fa-stack">
            <i class="fa fa-comments fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-overlay-upper-left fa-blue"></i>
        </span>
        {{ __f('New posts since %s', {'%s': last_visit_unix|date('Y-m-d H:i:s')}) }}
    </div>
</div>