{#{% use "bootstrap_3_layout.html.twig" with radio_widget as parent %}#}
{% block choice_widget_expanded -%}
    {% if '-inline' in attr.class|default('') -%}
        <div class="btn-group" data-toggle="buttons">
            {%- for child in form %}
            {{- form_widget(child, {
                    parent_label_class: attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
            </div>
            {%- else -%}
            <div {{ block('widget_container_attributes') }}>
                {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
                {% endfor -%}
                </div>
                {%- endif %}
                {%- endblock choice_widget_expanded %}

                {% block checkbox_radio_label %}
                    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
                    {% if widget is defined %}
                        {% if checked %}
                            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' active')|trim}) %}
                        {% endif %}
                        {% if parent_label_class is defined %}
                            {% if 'radio-inline' in parent_label_class %}
                                {% set parent_label_class = parent_label_class|replace({ ('radio'): 'switch' }) %}
                            {% endif %}
                            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
                        {% endif %}
                        {% if label is not sameas(false) and label is empty %}
                            {% set label = name|humanize %}
                        {% endif %}
                        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                            {{- widget|raw -}}
                            {{- label is not sameas(false) ? label|trans({}, translation_domain) -}}
                        </label>
                    {% endif %}
                {% endblock checkbox_radio_label %}
