{% if settings.solved_enabled and currentTopic.get.solved == -1 %}
{% set topic_unsolved_class='' %}
{% set topic_solved_class=' hide' %}
{% elseif settings.solved_enabled and currentTopic.get.solved == 0 %}
{% set topic_unsolved_class=' hide' %}
{% set topic_solved_class=' hide' %}
{% else %}
    {% set topic_unsolved_class='' %}
    {% set topic_solved_class='' %}
    {% endif %}


        <div class="panel">
            <div class="panel-body">
                <input type='hidden' id='userAllowedToEdit' value='1{{ currentTopic.userAllowedToEdit() }}'>
                <h2 id="edittopicsubjectbutton">

                    <span class="text-warning {{ topic_unsolved_class }}" id="topic_unsolved">
                        [<span class="fa fa-question">&nbsp;{{ __("Support request") }}</span>]
                    </span>

                    <span class="text-success {{ topic_solved_class }}" id="topic_solved">
                        [<span class="fa fa-check">&nbsp;{{ __("Solved") }}</span>]
                    </span>
                    <span id="edittopic">
                        <span id="topic_title">
                            <label class="sr-only" for="topicsubjectedit_subject">{{ __('topic title') }}</label>
                            <span type="text" class="noborder topic-title-input" id="topicsubjectedit_subject" name="topicsubjectedit_subject">
                                {{ currentTopic.title|escape('html')|notifyFilters('dizkus.filter_hooks.post.filter') }}
                            </span>
                        </span>

                        <span id='edittopicicon' style='display:none;'>&nbsp;<i class="fa fa-pencil fa fa-red"></i></span>
                    </span>
                </h2>

            </div>
        </div>





        {#
        
                <h2>
        

                </h2>
        
        
        
        
                <div style="display:none;" id="topicsubjectedit_editor">
                    <form id="topicsubject_{{ currentTopic.id }}_form" class="form-inline" action="javascript:void(0);">
                        <fieldset>
                            <legend>{{ __('Edit topic title') }}</legend>
                            <input type='hidden' id='userAllowedToEdit' value='{{ currentTopic.userAllowedToEdit() }}'>
                            <div class="form-group">
                                <label class="sr-only" for="topicsubjectedit_subject">{{ __('topic title') }}</label>
                                <input type="text" class="form-control" id="topicsubjectedit_subject" name="topicsubjectedit_subject" value="{{ currentTopic.title|escape('html') }}" />
                            </div>
                            <button id="topicsubjectedit_save" class="btn btn-success btn-xs" type="submit" name="Submit">{{ __("Submit") }}</button>
                            <button id="topicsubjectedit_cancel" class="btn btn-danger btn-xs" type="submit" name="cancel">{{ __("Cancel") }}</button>
                        </fieldset>
                    </form>
                </div>
        
        
        
        
        
                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon"> </span>
                        <input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status">
                    </div>
                    <span class="fa fa-check form-control-feedback" aria-hidden="true"></span>
                    <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>
                </div>#}