{{ include("@ZikulaDizkusModule/Common/header.html.twig", {'templatetitle':__('New topic')}) }}
{% form_theme form with ['bootstrap_3_layout.html.twig',
    'ZikulaDizkusModule:Form:checkbox.html.twig',
    'ZikulaDizkusModule:Form:radio.html.twig'
] %}

<div id="newtopicpreview" style="display: none;">&nbsp;</div>

{%if preview %}
    <div id="nonajaxnewtopicpreview">
        <h2>{{ post.title|escape('html') }}</h2>
        {{ include("@ZikulaDizkusModule/Post/single.html.twig") }}
    </div>
{% endif %}

{{ showflashes() }}
{{ form_start(form) }}
{{ form_errors(form) }}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3>{{ __f("New topic in '%s' forum", {'%s':forum.name}) }}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            {{ form_label(form.title, __("Subject line"), { 'label_attr': {'class': 'col-md-12'} }) }}             
            {{ form_widget(form.title, { 'attr': {'class': ''} }) }}                 
        </div>
        <div class="form-group">
            {{ form_label(form.message, __("Message"), { 'label_attr': {'class': 'col-md-12'} }) }}             
            {{ form_widget(form.message, { 'attr': {'rows' : '10', 'cols' : '60', 'maxlegth' : 65572 }} ) }}
        {% if settings.striptags == 'yes' %}
            <span class="help-block">{{ __("No HTML tags allowed (except inside [code][/code] tags)") }}</span>
        {% endif %}
        </div>
        <div class="form-group">
             {{ notifyDisplayHooks(eventName='dizkus.ui_hooks.topic.ui_edit', id=null) }}
        </div>
        <div class="form-group">
            <div class="col-md-4">
            <div><strong>{{ __("Options") }}</strong></div>
                        {{ form_row(form.attachSignature,  {   'label': __("Attach my signature")
                            ,'label_attr': {'class': currentUser.loggedIn ? '' : 'text-muted'}
                            ,'attr': {'class': '','icon': 'fa fa-user'} }) }}
                            
                        {{ form_row(form.isSupportQuestion,  {   'label': __("Mark as support question")
                            ,'label_attr': {'class': ''}
                            ,'attr': {'class': '','icon': 'fa fa-question fa-red'} }) }}
                            
                        {{ form_row(form.subscribeTopic,  {   'label': __("Email me when a reply is posted")
                            ,'label_attr': {'class': currentUser.loggedIn ? '' : 'text-muted'}
                            ,'attr': {'class': '', 'icon': currentUser.loggedIn ? 'fa fa-envelope-o fa-green' : 'fa fa-envelope-o'} }) }}                            

                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                        {{ form_widget(form.preview, {'attr': {'class': 'btn btn-primary'}}) }}
                        {#   not form button because it would trigger reqired fields check  #}
                        <a class="btn btn-danger" href="{{ path('zikuladizkusmodule_forum_viewforum', {'forum':forum.forum_id}) }}" role="button">{{ __('Cancel') }}</a>
            </div>
            <div class="col-md-8">
                {{ notifyDisplayHooks(eventName='dizkus.ui_hooks.post.ui_edit', id=null) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{{ include("@ZikulaDizkusModule/Common/footer.html.twig") }}