{# CREATE ICON VARIABLES #}
{% set top_icon %}<i class="fa fa-chevron-circle-up"></i>{% endset %}
{% set bottom_icon %}<i class="fa fa-chevron-circle-down"></i>{% endset %}
{% set prev_icon %}<i class="fa fa-chevron-left"></i>{% endset %}
{% set next_icon %}<i class="fa fa-chevron-right"></i>{% endset %}
{% set unsubscribe_icon %}<i class='fa fa-envelope-o'></i>{% endset %}
{% set subscribe_icon %}<i class='fa fa-envelope-open-o'></i>{% endset %}
{% set lock_icon %}<i class='fa fa-lock fa-orange'></i>{% endset %}
{% set unlock_icon %}<i class='fa fa-unlock fa-green'></i>{% endset %}
{% set unsticky_icon %}<i class="fa fa-thumb-tack fa-orange"></i>{% endset %}
{% set sticky_icon %}<i class="fa fa-thumb-tack fa-rotate-180"></i>{% endset %}
{% set create_icon %}<i class="fa fa-comments-o fa-flip-horizontal"></i>{% endset %}
{% set send_icon %}<i class="fa fa-paper-plane"></i>{% endset %}
{% set print_icon %}<i class="fa fa-print"></i>{% endset %}
{% set delete_icon %}<i class="fa fa-times fa-red"></i>{% endset %}
{% set split_icon %}<i class='fa fa-chevron-circle-down'></i>{% endset %}
{% set move_icon %}<i class="fa fa-arrow-right"></i>{% endset %}
{% set join_icon %}<i class="fa fa-compress"></i>{% endset %}
{% set sync_icon %}<i class="fa fa-refresh"></i>{% endset %}
{% set sort_up_icon %}<i class="fa fa-long-arrow-up" aria-hidden="true"></i> <i class="fa fa-clock-o" aria-hidden="true"></i>{% endset %}
{% set sort_down_icon %}<i class="fa fa-long-arrow-up fa-rotate-180" aria-hidden="true"></i> <i class="fa fa-clock-o" aria-hidden="true"></i>{% endset %}
{# ------- #}

{#{% set templatetitle=currentTopic.title|escape('html') %}#}
{{ include("@ZikulaDizkusModule/Common/header.html.twig", {'parent':currentTopic.forumId}) }}
<input id="topic_id" name="topic" type="hidden" value="{{ currentTopic.id }}">
{% if settings.ajax %}
    {#    {{ pageAddAsset('javascript', zasset('@ZikulaDizkusModule:js/Zikula.Dizkus.Tools.js')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaDizkusModule:js/Zikula.Dizkus.UserManager.js')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaDizkusModule:js/Zikula.Dizkus.TopicManager.js')) }}#}
{% endif %}

{# ******************************************************
* TOPIC NAVBAR
******************************************************* #}

<nav class="navbar navbar-topic navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-topic-collapse">
            <span class="sr-only">{{ __('Toggle navigation') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {#<a class="navbar-brand fa fa-comments" style='font-size:3em;color:mediumseagreen' href="#"></a>#}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-topic-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            {% if currentForumUser.allowedToModerate(currentTopic) %}
                <li>
                    {% if currentTopic.get.locked %}
                        {% set url=path('zikuladizkusmodule_topic_lock', {'topic':currentTopic.id, 'action':'unlock' }) %}
                        {% set msg=__("Topic locked click to unlock") %}
                        {% set lock_status_icon=lock_icon %}
                    {% else %}
                        {% set url=path('zikuladizkusmodule_topic_lock', {'topic':currentTopic.id, 'action':'lock'}) %}
                        {% set msg=__("Topic unlocked click to lock") %}
                        {% set lock_status_icon=unlock_icon %}
                    {% endif %}
                    <a id="toggletopiclock" class="tooltips" title="{{ msg }}" data-action="{% if currentTopic.get.locked %}unlock{% else %}lock{% endif %}" href="{{ url }}">
                        {{ lock_status_icon }}
                    </a>
                </li>
            {% endif %}

            {% if currentTopic.previous is not empty and currentTopic.id != currentTopic.previous %}
                {% set disabled='' %}
            {% else %}
                {% set disabled=' disabled' %}
            {% endif %}
            <li><a class="tooltips {{ disabled }}" title="{{ __("Previous topic") }}" href="{{ path('zikuladizkusmodule_topic_viewtopic', {'topic':currentTopic.previous}) }}">{{ prev_icon }}</a></li>

            {% if currentTopic.next is not empty and currentTopic.id != currentTopic.next %}
                {% set disabled='' %}
            {% else %}
                {% set disabled=' disabled' %}
            {% endif %}
            <li><a class="tooltips {{ disabled }}" title="{{ __("Next topic") }}" href="{{ path('zikuladizkusmodule_topic_viewtopic', {'topic': currentTopic.next}) }}">{{ next_icon }}</a></li>

            {% if currentForumUser.allowedToComment(currentTopic) %}
                <li><a class="tooltips" title="{{ __("Create a new topic") }}" href="{{ path('zikuladizkusmodule_topic_newtopic', {'forum':currentTopic.forumId}) }}">{{ create_icon }}&nbsp;{{ __("New topic") }}</a></li>
                {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if currentForumUser.loggedIn %}
                <li><a class="tooltips" title="{{ __("Send the posts within this topic as an e-mail message to someone") }}" href="{{ path('zikuladizkusmodule_topic_emailtopic', {'topic': currentTopic.id}) }}">
                        {{ send_icon }}
                    </a></li>
                {% endif %}

            <li><a class="tooltips" title="{{ __("Click to see printable version of this topic") }}" href="{{ path('zikuladizkusmodule_topic_viewtopic', {'topic': currentTopic.id, 'template':'print'}) }}">
                    {{ print_icon }}
                </a></li>
                {% if currentForumUser.loggedIn and settings.topic_subscriptions_enabled%}
                <li>
                    {% if currentForumUser.isTopicSubscribed(currentTopic.get) %}
                        {% set url=path('zikuladizkusmodule_user_removetopicsubscription', {'topic':currentTopic.id}) %}
                        {% set msg=__("Unsubscribe from topic") %}
                    {% else %}
                        {% set url=path('zikuladizkusmodule_user_addtopicsubscription', {'topic':currentTopic.id}) %}
                        {% set msg=__("Subscribe to topic") %}
                    {% endif %}
                    <a id="toggletopicsubscription" class="tooltips" data-action="{% if currentForumUser.topicSubscribed(currentTopic.get) %}unsubscribe{% else %}subscribe{% endif %}" href="{{ url }}" title="{{ msg }}">
                        {% if currentForumUser.topicSubscribed(currentTopic.get) %}{{ unsubscribe_icon }}{% else %}{{ subscribe_icon }}{% endif %}
                    </a>
                </li>
            {% endif %}

            {% if currentForumUser.allowedToModerate(currentTopic) %}
                <li>
                    {% if currentTopic.get.sticky == 0 %}
                        {% set url=path('zikuladizkusmodule_topic_sticky', {'action':'sticky', 'topic':currentTopic.id}) %}
                        {% set msg=__("Give this topic 'sticky' status") %}                    
                    {% else %}
                        {% set url=path('zikuladizkusmodule_topic_sticky', {'action':'unsticky', 'topic':currentTopic.id}) %}
                        {% set msg=__("Remove 'sticky") %}                   
                    {% endif %}
                    <a id="toggletopicsticky" class="tooltips" title="{{ msg }}" data-action="{% if currentTopic.get.sticky %}unsticky{% else %}sticky{% endif %}" href="{{ url }}">
                        {% if currentTopic.get.sticky == 0 %}{{ sticky_icon }}{% else %}{{ unsticky_icon }}{% endif %}
                    </a>
                </li>
                <li><a class="tooltips" title="{{ __("Move topic") }}" href="{{ path('zikuladizkusmodule_topic_movetopic', {'topic':currentTopic.id}) }}">{{ move_icon }}</a></li>
                <li><a class="tooltips" title="{{ __("Join topic") }}" href="{{ path('zikuladizkusmodule_topic_jointopic', {'topic':currentTopic.id}) }}">{{ join_icon }}</a></li>
                <li><a class="tooltips" title="{{ __("Sync topic and parents branch") }}" href="{{ path('zikuladizkusmodule_topic_sync', {'topic':currentTopic.id}) }}">{{ sync_icon }}</a></li>
                <li><a class="tooltips" title="{{ __("Delete topic") }}" href="{{ path('zikuladizkusmodule_topic_deletetopic', {'topic':currentTopic.id}) }}">{{ delete_icon }}</a></li>
                {% endif %}
            <li><a class="tooltips" title="{{ __("To bottom of page") }}" href="#bottom">{{ bottom_icon }}</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

{# ******************************************************
* TOPIC TITLE
******************************************************* #}
{{ include("@ZikulaDizkusModule/Topic/topic.title.html.twig") }}
{# ******************************************************
* TOPIC LIST
******************************************************* #}
<div class="row">
    <div class="col-md-12">
        {% if currentTopic.posts|length > 1 %}
            <div class="dropdown pull-right">
                <button
                    class="btn btn-default dropdown-toggle tooltips"
                    type="button"
                    id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                    title="{% if order == 'desc' %}{{ __('Showing latest posts first') }}{% else %}{{ __('Showing oldest posts first') }}{% endif %}"
                    >
                    {% if order == 'desc' %}
                        {{ sort_up_icon }}
                    {% else %}
                        {{ sort_down_icon }}
                    {% endif %}
                    {{ order|upper }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% if order|lower == 'desc' %}
                        <li><a href="{{ path('zikuladizkusmodule_topic_viewtopic', {'topic':currentTopic.id, 'start': start, 'order': 'asc'}) }}">
                                {{ sort_down_icon }} {{ __('Show oldest posts first') }}
                            </a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('zikuladizkusmodule_topic_viewtopic', {'topic':currentTopic.id, 'start': start, 'order': 'desc'}) }}">
                                {{ sort_up_icon }} {{ __('Show latest posts first') }}
                            </a>
                        </li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('zikuladizkusmodule_user_prefs') }}">
                            {{ __('Change my default...') }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        {{ pager({rowcount:currentTopic.postsCount,
                        limit:settings.posts_per_page,
                        class:'',
                        posvar:'start',
                        route:'zikuladizkusmodule_topic_viewtopic',
                        template:'@ZikulaDizkusModule/Topic/topic.posts.pager.html.twig'}) }}
    </div>
</div>
<div id="dzk_postinglist">
    <ul class="post_list">
        {% for post in currentTopic.posts %}
            <li class="post post_{{ post.id }}">
                {{ include("@ZikulaDizkusModule/Post/single.html.twig") }}
            </li>
        {% endfor %}
    </ul>
</div>
{{ pager({rowcount:currentTopic.postsCount, limit:settings.posts_per_page, posvar:'start', route:'zikuladizkusmodule_topic_viewtopic'}) }}

{# ******************************************************
* QUICK REPLY FORM
******************************************************* #}
{% if currentForumUser.allowedToComment(currentTopic) %}
    <div id="quickreply">    
        {{ render(controller(
            'ZikulaDizkusModule:Topic:replyTopic',
            { 'topic': currentTopic.id, '_format': 'html', 'template': 'quick'}
        )) }}
    </div>
{% endif %}

{{ include("@ZikulaDizkusModule/User/moderatedBy.html.twig", {'forum':currentTopic.forum, 'well': true}) }}

<a id="bottom" accesskey="b"></a>
{{ include("@ZikulaDizkusModule/Common/footer.html.twig")}}

{# use bazinga translations #}
{#{{ include("@ZikulaDizkusModule/Topic/translations.html.twig")}}#}
