<link href="{{ pageAddAsset('stylesheet', zasset('jstree/jstree-built.css'), 98)  }}" rel="stylesheet" type="text/css" />
<div id="upgrade310container"  class="row">
    <input type="hidden" id="upgrade3_enabled" value="{% if importHandler.versionSupported() %}1{% else %}0{% endif %}">
    <div class="progress hide">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="count small" style="position:absolute;z-index:2;right: 20px;"></span>
            <span class="info small" style="position:absolute;z-index:2;left:20px;"></span>
        </div>
    </div>
    <div class="col-md-12">
        <p>
            <span class="badge">{{ importHandler.id }}</span>
            <strong>{{ importHandler.title }}</strong>
            <small>{{ importHandler.description }}</small>
        </p>
    </div>
    {% if importHandler.versionSupported() %}
        <div class="col-md-4">
            <div id="tables_check">
                <ul>
                    <li data-jstree='{"icon":"fa fa-thumbs-o-up fa-green"}' class="jstree-open"> {{ __('Detected tables') }}
                        <ul>
                            {% for tablename, table in data.tables %}
                                {% set table_exists_icon=(table.exists ? 'fa fa-check-circle fa-green' : 'fa fa-exclamation-triangle fa-orange')%}
                                <li data-jstree='{"icon":"{{ table_exists_icon }}"}'>
                                    {{ tablename }}
                                    {% if table.exists %}
                                        {{ table.elements|length }}
                                    {% else %}
                                        <small>{{ __('(table does not exists will be created)') }}</small>
                                    {% endif %}
                                </li>
                            {% else %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>

            <p class="tables_legend">
                <small>{{ __('Only tables matching Dizkus versions 3 schema are considered valid. Data integrity is not checked at this point.') }}</small>
            </p>

            <div id="hooks_check">
                <ul class="list-group">
                    <li class="list-group-item"><h5>{{ __('Hooked content found') }} <i class='fa fa-paperclip fa-orange'></i> </h5></li>
                        {% for moduleid, module in data.hooks %}
                        <li class="list-group-item">
                            {% if module.data.state == 0 %}
                                {% set module_state_icon='fa fa-check-circle fa-red' %}
                            {% elseif module.data.state == 3 %}
                                {% set module_state_icon='fa fa-check-circle fa-green' %}
                            {% elseif module.data.state == 4 %}
                                {% set module_state_icon='fa fa-exclamation-triangle fa-orange' %}
                            {% elseif module.data.state == 5 %}
                                {% set module_state_icon='fa fa-download fa-orange' %}
                            {% else %}
                                {% set module_state_icon='fa fa-question-circle fa-red' %}
                            {% endif %}
                            <i class='{{ module_state_icon }}'></i>
                            {% if module.data.state == 0 %}
                                {{ __('Id:') }} {{ moduleid }}
                            {% elseif module.data.state == 3 %}
                                {{ __('Id:') }} {{ moduleid }} {{ module.data.name }} 
                            {% elseif module.data.state == 4 %}
                                {{ __('Id:') }} {{ moduleid }} {{ module.data.name }} 
                            {% elseif module.data.state == 5 %}
                                {{ __('Id:') }} {{ moduleid }} {{ module.data.name }} 
                            {% else %}
                                {{ __('Id:') }} {{ moduleid }}  
                            {% endif %}
                            <span class="label label-default pull-right small">
                                {{ module.elements|length }}@{{ __('topics')}}
                            </span>
                        </li>
                    {% else %}
                        <li class="list-group-item"> <i class='fa fa-check-circle fa-green'></i>{{ __('No hooked content found') }}</li>
                        {% endfor %}
                    <li class="list-group-item">
                        <ul class="list-inline small">
                            <li class=""><i class="fa fa-check-circle fa-red"></i> {{ __('Module not found') }}</li>
                            <li class=""><i class="fa fa-check-circle fa-green"></i> {{ __('Module found installed') }}</li>
                            <li class=""><i class="fa fa-exclamation-triangle fa-orange"></i> {{ __('Module files are missing') }}</li>
                            <li class=""><i class="fa fa-download fa-orange"></i> {{ __('Module not upgraded') }}</li>
                            <li class=""><i class="fa fa-question-circle"></i> {{ __('Module state unknow') }}</li>
                        </ul>
                    </li>
                    <li class="list-group-item"> <i class="fa fa-info-circle fa-blue"></i>
                        {{ __('This is only status information. Detected data will be imported even for non existing modules but not assigned to areas. You will be able to do that after import.') }}</li>
                </ul>
            </div>
            <h5>{{ __('Logs')}}</h5>
            <div id="log" class="well fa-ex well-sm pre-scrollable">

                <samp id="logBox" style="white-space: pre;"></samp>
            </div>
            <div class="settings clearfix">
                <h5>{{  __('Import settings')}}</h5>
                <div class="col-xs-4">
                    <small>{{  __('Users page')}}</small>
                    <input id="users_limit" class="form-control input-sm" value="100" type="number">
                </div>
                <div class="col-xs-4">
                    <small>{{  __('Topics page')}}</small>
                    <input id="topics_limit" class="form-control input-sm" value="15" type="number">
                </div>
                <div class="col-xs-4">
                    <small>{{  __('Posts page')}}</small>
                    <input id="posts_limit" class="form-control input-sm" value="40" type="number">
                </div>
                <div class="col-xs-4">
                    <small>{{  __('Other page')}}</small>
                    <input id="other_limit" class="form-control input-sm" value="50" type="number">
                </div>
                <div class="col-xs-8">
                    <small>{{  __('Ajax timeout')}}</small>
                    <input id="ajax_timeout" class="form-control input-sm" value="15000" type="number">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="users_check">
                <ul>
                    <li data-jstree='{"icon":"fa fa-user-circle fa-blue"}' id="users_check_root" class="jstree-closed"> {{ __('Forum users') }}
                    </li>
                </ul>
            </div>
            <div id="users_legend">
                <p class="buttons">
                    <a href="#" id="find_users" class="btn btn-primary btn-xs" role="button">{{ __('Find users') }}</a>
                    <a href="#" id="import_users" class="btn btn-default btn-xs disabled" role="button">{{ __('Import users') }}</a>
                    <a href="#" id="remove_users" class="btn btn-danger btn-xs disabled hide" role="button">{{ __('Remove current forum users!') }}</a>
                </p>
                <small>{{ __('Users need to be imported first with ranks. Depend on users amount it might take a while. All unique ids are considered as users. User ids that do not exsts in zikula will be marked as deleted.') }}</small>
            </div>
            <div id="forum_tree">
                <ul>
                    <li data-jstree='{"icon":"fa fa-sitemap"}' aria-disabled="true" id="forum_tree_root" class="jstree-closed"> {{ __('Forum tree')}}
                    </li>
                </ul>
            </div>
            <div id="forum_legend">
                <p class="buttons">
                    <a href="#" id="recover_forum_tree" class="btn btn-default disabled btn-xs" role="button">{{ __('Load forum tree') }}</a>
                    <a href="#" id="import_forum_tree" class="btn btn-default disabled btn-xs" role="button">{{ __('Import forum tree') }}</a>
                    <a href="#" id="remove_forum_tree" class="btn btn-danger btn-xs disabled hide" role="button">{{ __('Remove current forum tree!') }}</a>
                </p>
                <small>{{ __('Forum tree recovered from previous version. This will be imported in second step. We will preserve forum id only if forum id is not equal to 1 (Index forum)') }}</small>
            </div>

            <div id="other_check">
                <ul>
                    <li data-jstree='{"icon":"fa fa-envelope fa-green"}' aria-disabled="true" id="other_tree_root" class="jstree-closed" > {{ __('Other') }}
                    </li>
                </ul>
            </div>

            <div id="other_legend">
                <p class="buttons">
                    <a href="#" id="recover_other" class="btn btn-default disabled btn-xs" role="button">{{ __('Recover additional data') }}</a>
                    <a href="#" id="import_other" class="btn btn-default disabled btn-xs" role="button">{{ __('Import additional data') }}</a>
                    <a href="#" id="remove_other" class="btn btn-danger btn-xs disabled hide" role="button">{{ __('Remove current additional data!') }}</a>
                </p>
                <small>{{ __('Additional data like subscriptions and moderators.') }}</small>
            </div>
        </div>


    {% endif %}
</div>
{{ pageAddAsset('javascript', zasset('jstree/jstree-built.js'), 98)  }}
{{ pageAddAsset('javascript', zasset('@ZikulaDizkusModule:js/Zikula.Dizkus.Upgrade3.js')) }}
